<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Photos</h1>
    <p>Express stock photo application</p>
    <a href="/photos/upload">Upload</a>
    <div id="photos">
    	<% photos.forEach(function(photo) { %>
    		<div class="photo">
    			<h2><%=photo.name%></h2>
    			<img src="data:image/png;base64,<%=photo.image%>" width="200" height="175"/>
    		</div>
    	<% }) %>
    </div>
  </body>
</html>